{%- comment -%}
  Get post description or generate it from the post content.
  Only use posts located in the local _posts directory — not from theme gems.
{%- endcomment -%}

{%- assign max_length = include.max_length | default: 200 -%}

{%- capture description -%}
{%- if post.description -%}
  {{- post.description -}}
{%- else -%}
  {% assign content = post.content %}

  {% comment %}
    Remove line numbers in code snippets.
  {% endcomment %}
  {% if content contains '<td class="rouge-gutter gl"><pre class="lineno">' %}
    {% assign content = content 
      | replace: '<td class="rouge-gutter gl"><pre class="lineno">', '<!-- <td class="rouge-gutter gl"><pre class="lineno">' 
      | replace: '</td><td class="rouge-code">', '</td> --><td class="rouge-code">' %}
  {% endif %}

  {% comment %}
    Only generate description if post is NOT from theme gem path (e.g., /gems/ or /usr/)
  {% endcomment %}
  {%- unless post.path contains '/gems/' or post.path contains '/usr/' -%}
    {{- content | markdownify | strip_html | newline_to_br | replace: '<br />', ' ' | strip_newlines -}}
  {%- endunless -%}
{%- endif -%}
{%- endcapture -%}

{{- description | strip | truncate: max_length | escape -}}
